{% macro Button(text, attributes={}) %}
  <button 
    class="bg-blue-500 text-white p-2 rounded-md"
    {% for attr in attributes | dictsort %}
      {{ attr[0] }}="{{ attr[1] }}"
    {% endfor %}
  >
    {{ text }}
  </button>
{% endmacro %}
