{% macro TodoForm() %}
  <form
    class="mt-6"
    hx-post="/todos" 
    hx-target="#todos"
    hx-swap="outerHTML" 
    hx-on::after-request="this.reset()"
  >
    <input type="text" name="title" placeholder="Add a new todo" required />
    <button type="submit">Add</button>
  </form>
{% endmacro %}

{{ TodoForm() }}