{% macro Todo(todo, attributes={}) %}
  <li 
    id="todo-{{ todo.id }}" 
    class="flex items-center gap-x-3"
  >
    <input 
      type="checkbox" 
      name="done" 
      {% if todo.done %}checked{% endif %} 
    />

    <span class="{% if todo.done %}line-through{% endif %}">
      {{ todo.title }}
    </span>

    <button>
      🞨
    </button>
  </li>
{% endmacro %}

{{ Todo(todo) }}