{% macro TodoForm() %}
  <form class="mt-6">
    <input type="text" name="title" placeholder="Add a new todo" required />
    <button type="submit">Add</button>
  </form>
{% endmacro %}

{{ TodoForm() }}